{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12"><h2 class="text-uppercase font-weight-bolder text-center">All Categories</h2></div>
        {% if message %}
        <h3 style="color: red">{{message}}</h3>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-12">
            <div class="">
                {% for category in categories %}
                <div class="">
                    <h3 class="text-monospace text-center"><a href="{% url 'catIs' category %}">{{category}}</a></h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    
    

    


{% endblock %}