{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
<div class="container">
    <h2>Your Listings</h2>
    {% if message %}
    <h3 style="color: red">{{message}}</h3>
    {% endif %}

    <div class="row"> 
        <div class="col-sm-6 center">
            {% for item in mylist %}
            <div class="list-group">
                
                <a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'listItem' item.id %}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{item.title}}</h5>
                        <small>Active: {{item.is_active}}</small>
                    </div>
                        <p class="mb-1">{{item.description}}</p>
                        <small>Highest Bid: ${{item.highestBid|intcomma}}</small>
                </a>
                 
            </div>
            {% endfor %}     
        </div>
    </div>
</div>

{% endblock %}